<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="invoice" >

    <div ng-controller="inpCtrl">
        <input type="text" ng-model="custMsg">
        {{custMsg}}
    </div>



    <div ng-controller="invCtrl" bgcolor="#f6f6f6" style="color: #333; height: 100%; width: 100%;" height="100%" width="100%">
        <table bgcolor="#f6f6f6" cellspacing="0" style="border-collapse: collapse; padding: 40px; width: 100%;" width="100%">
            <tbody>
                <tr>
                    <td width="5px" style="padding: 0;"></td>
                    <td style="clear: both; display: block; margin: 0 auto; max-width: 600px; padding: 10px 0;">
                        <table width="100%" cellspacing="0" style="border-collapse: collapse;">
                            <tbody>
                                <tr>
                                    <td style="padding: 0;">
                                        <a
                                            href="#"
                                            style="color: #348eda;"
                                            target="_blank"
                                        >
                                            <img
                                                src="//ssl.gstatic.com/accounts/ui/logo_2x.png"
                                                alt="Bootdey.com"
                                                style="height: 50px; max-width: 100%; width: 157px;"
                                                height="50"
                                                width="157"
                                            />
                                        </a>
                                    </td>
                                    <td style="color: #999; font-size: 12px; padding: 0; text-align: right;" align="right">
                                        {{orgName}}<br />
                                        Invoice #{{invoice.no}}<br />
                                        {{invoice.date}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="5px" style="padding: 0;"></td>
                </tr>
    
                <tr>
                    <td width="5px" style="padding: 0;"></td>
                    <td bgcolor="#FFFFFF" style="border: 1px solid #000; clear: both; display: block; margin: 0 auto; max-width: 600px; padding: 0;">
                        <table width="100%" style="background: #f9f9f9; border-bottom: 1px solid #eee; border-collapse: collapse; color: #999;">
                            <tbody>
                                <tr>
                                    <td width="50%" style="padding: 20px;"><strong style="color: #333; font-size: 24px;">$23.95</strong> Paid</td>
                                    <td align="right" width="50%" style="padding: 20px;">{{custMsg}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="padding: 0;"></td>
                    <td width="5px" style="padding: 0;"></td>
                </tr>
                <tr>
                    <td width="5px" style="padding: 0;"></td>
                    <td style="border: 1px solid #000; border-top: 0; clear: both; display: block; margin: 0 auto; max-width: 600px; padding: 0;">
                        <table cellspacing="0" style="border-collapse: collapse; border-left: 1px solid #000; margin: 0 auto; max-width: 600px;">
                            <tbody>
                                <tr>
                                    <td valign="top"  style="padding: 20px;">
                                        <thead style="
                                        border-bottom: 1px solid #000;
                                        color: #000;
                                        font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
                                        font-size: 18px;
                                        font-weight: bold;
                                        line-height: 1.2;
                                        margin: 0;
                                        margin-bottom: 15px;
                                        padding-bottom: 5px;
                                    ">
                                            <td>item No</td>
                                            <td>item desc</td>
                                            <td>rate</td>
                                            <td>qty</td>
                                            <td>total</td>
                                        </thead>
                                       
                                            <tbody>
                                                <tr ng-repeat="item in invoice.items" >
                                                    <td>{{item.itemNo}}</td>
                                                    <td>{{item.itemDes}} </td>
                                                    <td>{{item.rate}}</td>
                                                    <td>{{item.qty}}</td>
                                                    <td>{{item.rate * item.qty}}</td>
                                                </tr>
                                                
                                                <!-- <tr>
                                                    <td style="border-bottom: 2px solid #000; border-top: 2px solid #000; font-weight: bold; padding: 5px 0;">Amount paid</td>
                                                    <td align="right" style="border-bottom: 2px solid #000; border-top: 2px solid #000; font-weight: bold; padding: 5px 0;">$23.95</td>
                                                </tr> -->
                                            </tbody>
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="5px" style="padding: 0;"></td>
                </tr>
    
                <tr style="color: #666; font-size: 12px;">
                    <td width="5px" style="padding: 10px 0;"></td>
                    <td style="clear: both; display: block; margin: 0 auto; max-width: 600px; padding: 10px 0;">
                        <table width="100%" cellspacing="0" style="border-collapse: collapse;">
                            <tbody>
                                <tr>
                                    <td width="40%" valign="top" style="padding: 10px 0;">
                                        <h4 style="margin: 0;">Questions?</h4>
                                        <p style="color: #666; font-size: 12px; font-weight: normal; margin-bottom: 10px;">
                                            Please visit our
                                            <a
                                                href="#"
                                                style="color: #666;"
                                                target="_blank"
                                            >
                                                Support Center
                                            </a>
                                            with any questions.
                                        </p>
                                    </td>
                                    <td width="10%" style="padding: 10px 0;">&nbsp;</td>
                                    <td width="40%" valign="top" style="padding: 10px 0;">
                                        <h4 style="margin: 0;"><span class="il">{{orgName}}</span></h4>
                                        <p style="color: #666; font-size: 12px; font-weight: normal; margin-bottom: 10px;">
                                            <a href="#">535 Mission St., 14th Floor San Francisco, CA 94105</a>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="5px" style="padding: 10px 0;"></td>
                </tr>
            </tbody>
        </table>
    </div>

<script src="modules/invoiceController.js"></script>
<script src="modules/inputController.js"></script>


</body>
</html>